.footer {
  position: fixed;
  padding-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  color: #fff;
  background: rgb(53, 44, 44);
}